/* https://www.mozilla.org/en-US/firefox/66.0/whatsnew/?oldversion=65.0.2*/
.footer-mozila {
	width: 100%;
	height: 500px;
	color: blue;
	background-color: black;
	margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#mozila-logo {
    font-weight: bold;
    font-size: 25px;
}

.footer-mozila .footer-mozila-all {
	
	margin-top: 40px;
	margin-bottom: 40px;
	
}

.footer-mozila .footer-mozila-logo {
	padding: 5px;
	text-align: center;
	text-decoration: none;
	width: 150px;
	height: 20px;
	color: black;
	background: white;
	border: 1px solid white;
	font-weight: bold;
	font-size: 25px;
	
	
}

.footer-mozila .mozila-department {
	margin-top: 40px;
	margin-bottom: 70px;
}

.footer-mozila .department-title {
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 20px;
}



.footer-mozila .footer-mozila-all a {
	text-decoration: none;
}

.mozila-department nav {
	display: flex;
	flex-direction: column;
	height: 150px;
	flex-wrap: wrap;	
}


.footer-mozila .department-link {
	color: white;
	font-size: 1em;
	line-height: 2.0;
}

footer .politic-foundation {
	color: white;
    font-size: 0.87em;
	
	
}

footer .politic-foundation .foundation-link {
	color: white;
}

footer .politic-foundation .foundation-link:hover {
	text-decoration: none;
}

footer .mozila-politic {
	border-top: 0.1px solid #DCDCDC;
}

.politic-language .foundation-link:hover {
	text-decoration: none;
}

footer .politic-language {
	float: right;
}

footer .mozila-politic {
	vertical-align: bottom;
}

footer  .mozila-politic {
	display: flex;
	justify-content:space-between;
	padding-top: 40px;
}

.politic-language .foundation-link {
	color: white;
    margin-right: 20px;
}

footer .mozila-privacy {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.mozila-privacy .privacy-link {
    display: flex;
    justify-content: space-between; 
    
}

.mozila-privacy .privacy-link .link {
    padding-right: 20px;
}

.mozila-privacy .privacy-link a {
    
    color: white;
}

.mozila-privacy .privacy-link a:hover {
    text-decoration: none;
}

.network-icon {
    padding-left: 20px;
    color: red;
    z-index: auto; 
}

.fa-twitter,
.fa-instagram {
    color: white;
   
}

