.main-panel {
    padding-top: 50px;
    display: flex;
    justify-content:space-between;
    text-align: left;
}

.main-panel .panel-title {
    color: #000;
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 20px;
    
}

.main-panel .panel-description {
    margin-top: 20px;
    font-size: 1em;
    width: 450px;
    line-height: 1.5;
    font-family: sans-serif;
}

 .panel-left .left-link {
    color: red;
    margin-top: 1.5em;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
   
    
}

.panel-left .left-link a {
    color: blue;
    text-decoration: none;
    border-bottom: 2px blue solid;
}

.panel-left .left-link a:hover {
    color: blue;
    border: none;
    
}


.panel-right .button-app {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    padding: 10px 10px;
    width: 200px;
    height: 25px;
    background-color: black;
}


.panel-right .button-app a {
    text-decoration: none;
    color: #FFF;
}

.panel-right .button-app:hover {
   border: 2px black solid;
   background: white;
   box-shadow: 5px 5px black; 
}

.panel-right .button-app a:hover {
    color: black;
} 
